

.col-id {
    width:  5%;
  }
  
  .col-ingreso {
    width: 10%;
  }
  
  .col-placa {
    width: 10%;
  }
  
  .col-imagen {
    width: 20%;
    
  }
  
  .col-monto {
    width: 7%; 
  }
  
  .col-estado {
    width: 10%;
  }
  
  .col-opc {
    width: 40%; 
    border: 2px;
  }
.container{
  width: 100%;
  padding: 2%;
  
}
.btn0{
  width: 100px; 
  height: 50px;
}
.btn1 {
  width: 180px;
  height: 50px;
  
}

.alert {
  opacity: 1;
  transition: opacity 0.99s ease-out;
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.alert.fade-out {
  opacity: 0;
}